{% load wagtailcore_tags wagtailimages_tags %}


{% for block in self %}
  {% if service_first %}
  <section id="services">
    <div class="container-fluid">
  {% endif %}

    {% if block.block_type == 'heading' %}
          <div class="row">
              <div class="col-12 text-center">
              <h2 class="section-heading text-uppercase"> {% include_block block %}</h2>
    {% elif block.block_type == 'paragraph' %}
              <h3 class="section-subheading text-muted text-justify"> {% include_block block %}</h3>
            </div>
          </div>
    {% else %}
           {{ block }}

    {% endif %}
  {% if service_last %}
     </div>
  </section>
  {% endif %}
{% endfor %}
